@import 'variables';

:host {
    width: 100%;
    margin: 0 auto;
    background: $primary-color;

    display: flex;
    flex-direction: column;
}

.whoContainer {

    max-width: 960px;
    margin: 0 auto;

    .media {
        display: flex;
        flex-direction: column;
        position: relative;

        width: 90%;
        margin: 0 auto;
        height: auto;
        
        text-align:center;

        img, video {
            width: 100%;
            height: auto;
            min-height: 300px;

            object-fit: cover;
        }

        .title {
            position: absolute;
            bottom: 0;
        }

        @media (max-width: 700px) {
            .title {
                box-sizing: border-box;
                width: 100%;
    
                padding-left: 32px;
                padding-right: 32px;
                padding-top: 32px;
                padding-bottom: 0;
    
                font-size: 42px;
                position: relative;
                text-align: center;
    
                color: white;
            }
        }
    }

    .title {
        padding: 16px;

        font-size: 68px;
        @include primary-font-family;
        text-align: center;
        color: white;
    }

    @media (max-width: 700px) {
        .title {
            box-sizing: border-box;
            width: 100%;

            padding-left: 32px;
            padding-right: 32px;
            padding-top: 32px;
            padding-bottom: 16px;

            font-size: 42px;
            text-align: center;

            color: white;
        }
    }

    .row {

        //background-color: black;

        padding: 32px;

        .detailCard {
        
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            & > * {
                text-align: center;
            }

            div {
                width: 250px;
                padding: 16px;
            }
        
            h3 {
                font-family: 'Roboto', sans-serif;
                font-size: 22px;
                margin-block-start: 0;
                color: white;
            }

            p {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                color: #ffffffcc;
            }
        }
    }    
}

.white {
    color: white;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}
