<div class="whoContainer">

  <div class="title top left right">Hi, I'm Cody Lund.</div>

  <div class="media">
    <img src="https://live.staticflickr.com/65535/49046269657_618bc784c4_k.jpg" />
  </div>

  <div class="row">

    <div class="detailCard">

      <div>
        <h3>Minneapolis native</h3>
        <p>
          Forever a Minnesotan at heart.
        </p>
      </div>

      <div>
        <h3>Dirtbag (solo)traveler</h3>
        <p>
          Regular showering, but I flirt with hacky travel and questionable street food.
        </p>
      </div>

      <div>
        <h3>Weekend warrior</h3>
        <p>
          Sleepovers in the parking lot.
        </p>
      </div>

      <div>
        <h3>Bouldering enthusiast</h3>
        <p>
          On the roof.
        </p>
      </div>

      <div>
        <h3>Novice mountain biker</h3>
        <p>
          Rocks and roots.
        </p>
      </div>

      <div>
        <h3>Wannabe peak bagger</h3>
        <p>
          I get out when I can.
        </p>
      </div>

    </div>
  </div>

  <div class="media">
    <img src="https://live.staticflickr.com/65535/49051403643_8bd110a731_b.jpg" />
    <div class="title bottom left white">What I'm up to.</div>
  </div>


  <div class="row">

    <div class="detailCard">

      <div>
        <h3>Living in Boston, MA</h3>
        <p>
          I do not understand the Dunkin' Donuts thing.
        </p>
      </div>

      <div>
        <h3>Working for Microsoft</h3>
        <p>
          I help develop an Android application management SDK for a product called Intune.
        </p>
      </div>

    </div>

  </div>

  <div class="media">
    <img src="https://live.staticflickr.com/65535/49051384363_a3b2caa8c1_k.jpg" />
    <div class="title bottom right white">Going forward.</div>
  </div>

  <div class="row">

    <div class="detailCard">

      <div>
        <h3>Avvy cert (AIARE I)</h3>
        <p>
          For staying safe in the backcountry.
        </p>
      </div>

      <div>
        <h3>Low-angle backcountry</h3>
        <p>
          Green and White Mountains, baby.
        </p>
      </div>

      <div>
        <h3>Fluency in Spanish</h3>
        <p>
          For extended travels and mental exercise.
        </p>
      </div>

      <div>
        <h3>Photography</h3>
        <p>
          Rediscover a long-lost passion.
        </p>
      </div>

    </div>

  </div>

</div>