<!-- Use a conditional container because the nugget is loaded asynchronously. -->
<div *ngIf="nugget" id="container">

    <!-- Banner image for the nugget. -->
    <app-gallery #gallery [photos]="nugget.content.photos"></app-gallery>

    <!-- All the information about the nugget. -->
    <div id="content">

        <!-- Flexbox for title, date, and activity badges. -->
        <div #metadata id="metadata">
            
            <!-- Show the title and date. -->
            <div>
                <h1>{{ nugget.content.title }}</h1>
                <h2><i class="fa fa-map-signs" aria-hidden="true"></i>&nbsp;&nbsp;<a href="{{ nugget.metadata.location.url }}">{{ nugget.metadata.location.name }}</a></h2>
                <h2><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;{{ nugget.metadata.date.toLocaleDateString("en-us", { year: 'numeric', month: 'long', day: 'numeric' }) }}</h2>            
                <!-- Display the tags -->
                <ul id="tags">
                    <!-- TODO: search for nuggets by tag onclick -->
                    <li *ngFor="let tag of nugget.metadata.tags">
                        <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{ tag }}
                    </li>
                </ul>
            </div>

            <!-- Fill out all the extra space in the flexbox. -->
            <div class="flex-fill"></div>
            
            <!-- Show the activity badges. -->
            <div>
                <!-- Display the activity type icons -->
                <ul id="activityTypes" *ngFor="let activityType of nugget.metadata.activityTypes">
                    <li>
                        <app-activity-badge [activityType]="activityType"></app-activity-badge>
                    </li>
                </ul>
            </div>

        </div>

        <!-- The good stuff. -->
        <div>
            <p>{{ nugget.content.body }}</p>
        </div>

    </div>
</div>