:host {
    flex-grow: 1;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: inherit;
    height: 100%;

    app-gallery {
        display: flex; // flex fills the space
        height: 100%;
        width: 100%;
        flex-grow: 1;
    }

    #content {
        margin: auto;
        width: 100%;
        max-width: 960px;

        & > div {
            padding: 16pt;
        }
    }

}

h1, h2 {
    font-family: 'Merriweather', serif;
}

h1, h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-start: 4pt;
    padding-block-end: 4pt;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-start: 8pt;
    padding-block-end: 8pt;
}

p {
font-family: 'Open Sans', sans-serif;
}

#banner {
    height: 300pt;
    background-color: aquamarine;
}

#metadata {

    h1 {
        font-size: 24pt;
    }
    
    h2 {
        font-size: 12pt;
        color: #888888;
        a {
            color: #888888;
        }
    }

    display: flex;
    flex-direction: row;

    .flex-fill {
        flex: 1;
    }

    border-bottom: 1px solid black;
}

ul#activityTypes {

    position: relative;

    list-style: none;
    display: flex;
    flex-direction: row;

    // Center the content in the flexbox
    justify-content: flex-end;

    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    li {
        height: fit-content;
    }

}

ul#tags {
    list-style: none;
    display: flex;
    flex-direction: row;

    padding-inline-start: 0;

    li {
        background-color: #dddddd;

        padding-top: 2pt;
        padding-bottom: 2pt;
        padding-left: 6pt;
        padding-right: 6pt;
        border-radius: 12pt;

        // Add spacing between all list items.
        &:not(:last-child) {
            margin-right: 8pt;
        }
    }
}