@import 'variables';

$font-color: white;

:host {
    z-index: 1;
    color: $font-color;
}

// Container for all the navigation items.
.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    padding: 8px;

    background-color: $primary-color;
}

// Applied to container when root route is activated.
.rootRoute {
    background-color: transparent;
}

// Navigation item.
.item {
    padding: 8px 16px;

    @include primary-font-family;

    img {
        height: 40px;
        width: auto;
    }

    &:focus {
        border: 0;
    }

    &:hover {
        cursor: pointer;
        color: darken($font-color, 5%);
    }
}
