:host {
    //display: block;
    height: fit-content;
    padding: 8px;

    padding-left: 16px;
    padding-right: 16px;

    background-color: black;
    z-index: 1;

    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center
}

.filler {
    flex-grow: 1;
}

.page {
    padding: 8pt;
    font-family: 'Roboto', sans-serif;

    &:hover {
        cursor: pointer;
        color: darken(white, 10%);
    }
}

.logoContainer {
    margin: auto;
    width: fit-content;

    font-size: 32px;
    font-family: 'Merriweather', serif;

    &:focus {
        outline: none;
        border: 0;
    }

    &:hover {
        cursor: pointer;
    }

    &:active {
        cursor: auto;
    }

    #logo {
        width: 180pt;
        height: auto;
    }
    padding-top: 8pt;
    padding-bottom: 8pt;
}
