
<div class="mission">
    <video autoplay poster="#000000" loop [muted]="true">
        <source
            src="https://lh3.googleusercontent.com/2EI1TndqlrPpSqXXd-FbNB1v7QUN7YueIPNHDtvdwlL8jYZ7EfhDp5yYQXF9lM_yVyHhge_LcZOY2Dhf-pChS39MnXWWJl4DM9Yg1ifOKzEEbYYN3nRYc3ekmiPuMy-DoHuQf6B8=m18"
            type="video/mp4">
    </video>
    <div class="text">
        <div class="numbers">
            The third decade.
        </div>
        <div class="define">
            The pinnacle of health, optimism, and freedom in human life.
        </div>
        <div class="goal">
            Waste it wisely.
        </div>
    </div>
</div>

<app-email-form></app-email-form>

<div *ngIf="highlight" class="spotlight">
    <div class="thumbnail"
        [style.background-image]="getSanitizedUrl(highlight.content.photos[0].url)"
        [routerLink]="['/places/', highlight.metadata.id]">
        <div class="textContainer">
            <div class="text">
                <h1>Highlight</h1>
                <h2>{{ highlight.metadata.title }}</h2>
                <p>{{ highlight.content.synopsis }}</p>
                <div class="header" [routerLink]="['/places']">More Places >></div>
            </div>
        </div>
    </div>
</div>

<div class="insta">
    <h1>Latest from Insta</h1>
    <app-instagram-highlight></app-instagram-highlight>
    <a class="header" href="https://instagram.com/c_dyl_nd">Instagram >></a>
</div>
