@import 'variables';

:host {
    width: 100%;
}

.mission {
    display: flex;

    position: relative;

    // Fill the screen.
    height:100vh;
    
    // Video background.
    video {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        position: absolute;

        background-color: #00000055;

        height: 100%;
        width: 100%;

        color: white;

        .numbers {
            margin: 16px;

            @include primary-font-family;
            font-size: 48px;
        }

        .define {
            margin: 16px;        

            @include secondary-font-family;
            font-size: 24px;
        }

        .goal {
            margin: 16px 16px 32px 16px;

            @include secondary-font-family;
            font-size: 24px;
        }
    }
}

// Spotlighted item.
.spotlight {
    height: 100vh;
    position: relative;

    .thumbnail {
        height: 100%;
        background-size: cover;
        background-position: center;

        &:hover {
            cursor: pointer;
        }

        .textContainer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .text {
            background-color: #000000aa;
            margin-top: auto;
            padding: 32px;

            $primary-font-color: white;
            $secondary-font-color: darken($primary-font-color, 5%);

            color: $primary-font-color;

            & > * {
                margin-block-start: 0;
                margin-block-end: 0;
            }

            h1 {
                @include secondary-font-family;

                font-size: 16px;
                text-transform: uppercase;

                padding-bottom: 8px;

                border-bottom: solid 1px $primary-font-color;
            }

            h2 {
                @include primary-font-family;
            
                padding-bottom: 8px;
                padding-top: 8px;

                text-shadow: 0 1px 5px black;
            }

            p {
                @include secondary-font-family;
                color: $secondary-font-color;

                max-width: 500px;
            }

            .header {
                @include secondary-font-family;
                text-align: right;
                font-size: 16px;
                color: $secondary-font-color;

                margin: 0 auto;
                padding-top: 16px;

                background-color: transparent;
            
                &:hover {
                    cursor: pointer;
                    color: $primary-font-color;
                }
            }

        }
    } 
}

.insta {

    h1 {
        margin: 32px;
        text-align: center;
    }

    .header {
        display: block;
        @include secondary-font-family;
        text-align: right;
        font-size: 16px;
        color: black;
        text-decoration: none;
        padding: 16px 32px 32px 32px;

        &:hover {
            cursor: pointer;
            color: #555555;
        }
    }
}