<!-- Use a conditional container because the place is loaded asynchronously. -->
<div *ngIf="place" class="container">
    
    <div class="details">
        <!-- Title -->
        <div class="text title">{{ place.metadata.title }}</div>

        <!-- Location -->
        <div class="text location">    
            <i class="fa fa-map-signs" aria-hidden="true"></i>&nbsp;&nbsp;<a href="{{ place.metadata.location.url }}">{{ place.metadata.location.toString() }}</a>
        </div>
        
        <!-- Date -->
        <div class="text date">
            <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;{{ place.metadata.date.toLocaleDateString("en-us", { year: 'numeric', month: 'long', day: 'numeric' }) }}
        </div>
    </div>

    <div class="synopsis">
        <div>{{ place.content.synopsis }}</div>
    </div>

    <app-gallery [photos]="place.content.photos"></app-gallery>
</div>

<app-email-form></app-email-form>
