@import 'variables';

:host {
    flex-grow: 1;
    z-index: 10000;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: inherit;
    height: 100%;
    margin: auto;

    background-color: transparent;

    .details {
        padding: 48px 0;

        background-color: $primary-color;
        color: white;
        border-top: 1px solid $primary-color;

        // Text items.
        .text {
            margin-block-start: 0;
            margin-block-end: 0;
            
            padding-block-start: 0;
            padding-block-end: 8px;
        }

        // Links.
        * > a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: darken(white, 5%);
            }
        }

        & > * {
            text-align: center;
        }

        .title {
            font-size: 40px;
            @include primary-font-family;
        }

        .location {

            i {
                font-size: 18px;
            }

            font-size: 22px;
            @include secondary-font-family;
        }

        .date {

            i {
                font-size: 14px;
            }

            font-size: 16px;
            @include secondary-font-family;
        }
    }

    .synopsis {
        width: 100%;
        box-sizing: border-box;
        max-width: 960px;

        margin: 32px auto;

        color: black;
        border-left: 8px solid $primary-color;

        & > * {
            margin: auto;
            padding: 24px 16px;
            display: block;
            @include secondary-font-family;
            font-size: 20px;
            text-align: left;
        }
    }

    app-gallery {
        display: block;

        width: 100%;
        max-width: 960px;

        margin: auto;

        //background-color: black;
    }

    .header {
        width: 100%;
        color: white;
        text-align: center;
    }

    .mobile {
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        app-gallery {
            flex-grow: 1;
            overflow: auto;
        }
    }

    .fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 20;
    }
}
