:host {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: top;
}

.flex-fill {
    flex: 1;
}

#metadata {
    width: fit-content;
    display: inline-block;
    
    h1, h2 {
        font-family: 'Merriweather', serif;

        margin-block-start: 0;
        margin-block-end: 0;
        
        padding-block-start: 0pt;
        padding-block-end: 8pt;
    }

    h1 {
        padding-block-end: 8pt;
    }
    
    h2 {
        a {
            color: inherit;
        }
    }

    a {
        text-decoration: none;
    }

    ul#tags {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        padding-inline-start: 0;
    
        margin-block-start: 4pt;
        margin-block-end: 0;

        width: fit-content;
        margin: auto;

        li {
            background-color: #000000aa;
            
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10pt;
            color: white;

            margin-top: 4pt;

            padding-top: 4pt;
            padding-bottom: 4pt;
            padding-left: 8pt;
            padding-right: 8pt;

            border-radius: 16pt;
    
            // Add spacing between all list items.
            &:not(:last-child) {
                margin-right: 8pt;
            }
        }
    }
}

ul#activityTypes {

    position: relative;

    list-style: none;
    display: flex;
    flex-direction: row;

    // Center the content in the flexbox
    justify-content: flex-end;

    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    li {
        height: fit-content;
    }

}
