$primary-color: #FFA500;

@mixin primary-font-family {
    font-family: 'acier-bat-solid', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin secondary-font-family {
    font-family: 'mr-eaves-xl-modern', sans-serif;
    font-weight: 300;
    font-style: normal;
}