@import 'variables';

:host {
    width: 100%;

    position: relative;

    background-color: white;
}

.controls {
    position: absolute;
    height: 100%;

    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;

    .control {
        z-index: 1000;
        flex-grow: 1;
        height: 100%;
    }
}

.highlight {
    width: fit-content;
    margin: auto;
    position: relative;
}

video, img {
    object-fit: cover;

    height: calc(100vw * 1.77777777778);
    width: 100vw;
    max-height: 90vh;
    max-width: calc(90vh * (1/1.77777777778))
}

.content {
    display: flex;
    flex-direction: column;

    .media {
        flex-grow: 1;
    }

    .indicator {
        flex-grow: 0;
    }
}

.indicator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;

    height: 5vh;

    * {
        margin: 2px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 1px solid $primary-color;
    }

    .active {
        background-color: $primary-color;
    }
}