<div class="highlight" *ngIf="highlight">
    <div class="controls">
        <div class="control" (click)="last()"></div>
        <div class="control" (click)="next()"></div>
    </div>

    <div class="content">
        <div class="media">
            <div class="spinnerContainer">
                <mat-spinner [diameter]="100"></mat-spinner>
            </div>
            <video *ngIf="media.type == 2" [src]="media.url" autoplay [muted]="true" (ended)="next()"></video>
            <img *ngIf="media.type == 1" src="{{ media.url }}"/>
        </div>

        <div class="indicator">
            <div *ngFor="let media of highlight.medias; let i = index" [class.active]="current == i"></div>
        </div>
    </div>
</div>