@import 'variables';

:host {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: top;
}

// Center-aligns all the components children.
.center {
    & > * {
        justify-content: center;
    }
}

// The container for the metadata.
.container {
    width: fit-content;
    display: inline-block;
    
    // Text items.
    .text {
        @include primary-font-family;

        margin-block-start: 0;
        margin-block-end: 0;
        
        padding-block-start: 0;
        padding-block-end: 8px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }

    // Links.
    * > a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: lighten(black, 25%);
        }
    }

    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: fit-content;
        margin: auto;

        div {
            background-color: #000000aa;
            
            @include secondary-font-family;
            font-size: 14px;
            color: white;

            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 8px;
            padding-right: 8px;

            border-radius: 16px;
    
            // Add spacing between all list items.
            margin-top: 4px;
            &:not(:last-child) {
                margin-right: 4px;
            }
        }
    }
}
