:host {
    width: 100%;
    margin: 0 auto;
    background: white;
}

.media {
    width:100%;
    height:auto;

    background-color:transparent;
    
    text-align:center;

    video {
        width: 100%;
        height: auto;
        min-height: 500px;

        object-fit: cover;
    }
}

.row {

    padding: 32px;

    .heading {

        border-bottom: 3px solid black;
        border-left: 3px solid black;
    
        padding: 8px;
        margin-bottom: 8px;
    
        h2 {
            margin-block-start: 0;
            margin-block-end: 0;
            
            font-size: 24px;
            font-family: 'Merriweather', serif;
            text-align: left;
        }
    }

    .detailCard {
    
        display: flex;
        flex-wrap: wrap;

        div {
            width: 300px;
            padding: 16px;
        }
    
        h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            color: #707070;
        }
    }
}
