
  <div class="rice">
    <img
      src="https://lh3.googleusercontent.com/ciILAoYfP8VEkpB9JeOZlGkl6QWYkM5FEIDzKCheLAHLGWgNAteDkR_gSKguxgpTTQLgYc2BqGBrByQ6y0zimefDa5OER2WNWZ3CDvUoW1qmcHDluPlK3nUHO7xIevw5jwZWNexqzATXhIwvH0RzlIHK7IFYS9Rn-J3AIogOUpCNYi3X2Mxxb8mlqYSzH5n7coFLtAvy-xrn7_1nhPpn_RxFFjDIGrxJXFFD1T7FTbj-rqUa24B9Gm4PaQjRiHikZCy4HJMLj1QIotgrR0UsQ_GkY-r-vF2JL38Grp5l3QbasDoaXS9cH6IKfieH6lRRzR0xOtAXUuyVc0CfcbxZdXv03__1JhsIsurjB69bMNgmNRAUjt_3wpRnW11JOg2lP9EnGnlOKjGqn7YyviBmGitIPSbp5eXRRcCnknsjhcNrSAavKZHSe3kkTAcK7BeULFVOXPjFGdK37-8AbgdXT35gFYJOiYUdIPoAGcuhu5PpUyfE8OxS4-I5IPyt3mN1pGSyh97MUeounw5XE8KiQYnYwO2Wima_X5TyYQsgJ0ST82niPufinn5Eq2GNQSf5bbP14GZ_oxKPU6cJUWdxM3C4QEkQ1vv7x3284nqYe3FJ65QIqCTIM-3AwOWLTN42P8f8yOd0qWOI2_Kn3GMFpFcp=w1920-h1080-no">
  </div>

  <div class="row">

    <div class="heading"><h2>I'm Cody Lund.</h2></div>
    <div class="detailCard">

      <div>
        <h3>Minneapolis native</h3>
        <p>
          I'll always be a Minnesotan at heart.
        </p>
      </div>

      <div>
        <h3>Dirtbag (solo)traveller</h3>
        <p>
          I shower regularly, but flirt with hacky travel and questionable street food.
        </p>
      </div>

      <div>
        <h3>Weekend warrior</h3>
        <p>
          I sleep in the parking lot.
        </p>
      </div>

      <div>
        <h3>Bouldering enthusiast</h3>
        <p>
          I'm working on the roof.
        </p>
      </div>

      <div>
        <h3>Novice mountain biker</h3>
        <p>
          Rocks and roots.
        </p>
      </div>

      <div>
        <h3>Wannabe peak bagger</h3>
        <p>
          I get out when I can.
        </p>
      </div>

    </div>
  </div>

  <div class="media">
    <video autoplay [muted]="true" style="height: 100%; width: 100%; object-fit: cover;">
      <source
        src="https://lh3.googleusercontent.com/VLYtQeDYJIaeW-QNj0G-u8WWm_DuWiOOh-koDFY6j3Caf3wuYfNj5dgNIf81FV8mRu9G13zMJVymTNnEFSuaRT70bCp0JYmQGQWj4icR7H1Fc6547WlLsgtuXjAc_acZsQtRLsZb=m18"
        type="video/mp4">
    </video>
  </div>


  <div class="row">

    <div class="heading"><h2>What I'm Up To</h2></div>

    <div class="detailCard">

      <div>
        <h3>Living in Boston, MA</h3>
        <p>
          I do not understand the Dunkin' Donuts thing.
        </p>
      </div>

      <div>
        <h3>Working for Microsoft</h3>
        <p>
          I help develop an Android application management SDK for a product called Intune.
        </p>
      </div>
    </div>

  </div>

  <div class="media">
    <video autoplay loop [muted]="true" style="height: 100%; width: 100%; object-fit: cover;">
      <source
        src="https://lh3.googleusercontent.com/IGYy_928xHd0bvHJQbfwaJUwas_fflrmHYIhf3_rYo6wZPho4I9WN0SKz20siC3pF5naTY9ZIbQfkIfFDvmb2OE3vN9eFAgIUbGJJgjMcmvQqNIN2oio4In_5AHlKccJvZHo6CAr=m18"
        type="video/mp4">
    </video>
  </div>

  <div class="row">

    <div class="heading"><h2>Going forward</h2></div>

    <div class="detailCard">

      <div>
        <h3>Avvy cert (AIARE I)</h3>
        <p>
          For staying safe in the backcountry.
        </p>
      </div>

      <div>
        <h3>Low-angle backcountry</h3>
        <p>
          Green and White Mountains, baby.
        </p>
      </div>

      <div>
        <h3>Learn basic first aid and CPR</h3>
        <p>
          Because things can always go horribly wrong.
        </p>
      </div>

      <div>
        <h3>Fluency in Spanish</h3>
        <p>
          For extended travels and mental exercise.
        </p>
      </div>

      <div>
        <h3>Photography</h3>
        <p>
          Rediscover a long-lost passion.
        </p>
      </div>
    </div>
  </div>
