<div class="rice">
  <img
    src="https://lh3.googleusercontent.com/j54SObHr9w3kYP_7BIgv6pH4VEudmWFlGg_rvBmJtSfbXZ-v7MgX8cdMU3BPX0eQp_t3EafDcx7UZwleWlyDZcteZLA1PZhRKlvKTn9nIy72QRuvTZy5alG00LAg4wQpXu4rOBTP=w1920-h1080">
</div>

<div class="row">

  <div class="heading">
    <h2>Hi! I'm Cody Lund.</h2>
  </div>
  <div class="detailCard">

    <div>
      <h3>Minneapolis native</h3>
      <p>
        Forever a Minnesotan at heart.
      </p>
    </div>

    <div>
      <h3>Dirtbag (solo)traveller</h3>
      <p>
        Regular showering, but I flirt with hacky travel and questionable street food.
      </p>
    </div>

    <div>
      <h3>Weekend warrior</h3>
      <p>
        Sleepovers in the parking lot.
      </p>
    </div>

    <div>
      <h3>Bouldering enthusiast</h3>
      <p>
        On the roof.
      </p>
    </div>

    <div>
      <h3>Novice mountain biker</h3>
      <p>
        Rocks and roots.
      </p>
    </div>

    <div>
      <h3>Wannabe peak bagger</h3>
      <p>
        I get out when I can.
      </p>
    </div>

  </div>
</div>

<div class="media">
  <video autoplay [muted]="true">
    <source
      src="https://lh3.googleusercontent.com/VLYtQeDYJIaeW-QNj0G-u8WWm_DuWiOOh-koDFY6j3Caf3wuYfNj5dgNIf81FV8mRu9G13zMJVymTNnEFSuaRT70bCp0JYmQGQWj4icR7H1Fc6547WlLsgtuXjAc_acZsQtRLsZb=m18"
      type="video/mp4">
  </video>
</div>


<div class="row">

  <div class="heading">
    <h2>What I'm up to.</h2>
  </div>

  <div class="detailCard">

    <div>
      <h3>Living in Boston, MA</h3>
      <p>
        I do not understand the Dunkin' Donuts thing.
      </p>
    </div>

    <div>
      <h3>Working for Microsoft</h3>
      <p>
        I help develop an Android application management SDK for a product called Intune.
      </p>
    </div>
  </div>

</div>

<div class="media">
  <video autoplay loop [muted]="true">
    <source
      src="https://lh3.googleusercontent.com/IGYy_928xHd0bvHJQbfwaJUwas_fflrmHYIhf3_rYo6wZPho4I9WN0SKz20siC3pF5naTY9ZIbQfkIfFDvmb2OE3vN9eFAgIUbGJJgjMcmvQqNIN2oio4In_5AHlKccJvZHo6CAr=m18"
      type="video/mp4">
  </video>
</div>

<div class="row">

  <div class="heading">
    <h2>Going forward.</h2>
  </div>

  <div class="detailCard">

    <div>
      <h3>Avvy cert (AIARE I)</h3>
      <p>
        For staying safe in the backcountry.
      </p>
    </div>

    <div>
      <h3>Low-angle backcountry</h3>
      <p>
        Green and White Mountains, baby.
      </p>
    </div>

    <div>
      <h3>Learn basic first aid and CPR</h3>
      <p>
        Because things can always go horribly wrong.
      </p>
    </div>

    <div>
      <h3>Fluency in Spanish</h3>
      <p>
        For extended travels and mental exercise.
      </p>
    </div>

    <div>
      <h3>Photography</h3>
      <p>
        Rediscover a long-lost passion.
      </p>
    </div>
  </div>
</div>
