<div class="container">
    <div class="detailCard">
        <h2>Identities</h2>
        
        <h3>🏒 From Minneapolis</h3>
        <p>
            Regardless of my current home, I'll always be a Minnesotan at heart.
        </p>
        
        <h3>🗺️ Dirtbag (solo)traveller</h3>
        <p>
            I do shower regularly, but can't resist hacky travel and questionable street food.
        </p>
        
        <h3>⛷️ Weekend warrior</h3>
        <p>
            I sleep in the parking lot at Jay Peak.
        </p>
        
        <h3>🧗 Bouldering enthusiast</h3>
        <p>
            I feel like batman when I'm working on the roof.
        </p>
        
        <h3>🚵‍ Novice mountain biker</h3>
        <p>
            Rocks and roots.
        </p>
        
        <h3>⛰️ Wannabe peak bagger</h3>
        <p>
            I get out when I can.
        </p>

    </div>

    <div class="detailCard">
        <h2>What I'm Up To</h2>
        
        <h3>🏠 Living in Boston, MA</h3>
        <p>
            I do not understand the Dunkin' Donuts thing.
        </p>
        
        <h3>💻 Working for Microsoft</h3>
        <p>
            I help develop an Android application management SDK for a product called Intune.
        </p>
    </div>

    <div class="detailCard">
        <h2>Plans going forward</h2>
        <h3>Avvy cert (AIARE I)</h3>
        <p>
            For staying safe in the backcountry.
        </p>

        <h3>Ski some low-angle backcountry slopes in VT or NH.</h3>
        <p>
            Until I can build a network of ski buddies.
        </p>

        <h3>Learn basic first aid and CPR.</h3>
        <p>
            Because things can always go horribly wrong.
        </p>

        <h3>Fluency in Spanish.</h3>
        <p>
            For extended travels and mental exercise.
        </p>

        <h3>Rediscover my passion for photography.</h3>
        <p>
            I'll be documenting my best adventures on this site.
        </p>
    </div>
</div>
