@import 'variables';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

h1 {
    @include primary-font-family;
}

p, h2, h3 {
    @include secondary-font-family;
}

// Remove all outlines. Angular likes to add these to elements
// with router links. I don't use this style anywhere anyways.
* {
    outline: none;
}