@import 'variables';

:host {
    display: flex;
    flex-direction: column;

    background: black;
    padding: 48px;
}

.title {
    color: white;

    @include primary-font-family;
    font-size: 24px;

    margin-bottom: 16px;
}

.details {
    color: #ffffff99;

    @include secondary-font-family;
    font-size: 18px;

    margin-bottom: 16px;
}

span {
    @include secondary-font-family;
    text-align: right;

    color: rgb(255,255,255,0.8);

    &:hover {
        cursor: pointer;
        color: white;
    }
}

.subscriptionDetails {
    @include secondary-font-family;
    color: $primary-color;
    size: 16px;
    margin-top: 8px;
}

::ng-deep {

    $custom-main-color: white;
    $custom-label-color: white;

    // mat-icon-stepper selected color change
    .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
       background-color: $custom-main-color !important;
    }
 
    // input outline color
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: $custom-main-color !important;
    }
 
    // mat-input focused color
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
       color: $custom-main-color !important;
    }
 
    // mat-input error outline color
    .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
       color: $custom-main-color !important;
       opacity: 0.8 !important;
    }
 
    // mat-input caret color
    .mat-input-element {
        color: $custom-main-color !important;
       caret-color: $custom-main-color !important;
    }
 
    // mat-input error caret color
    .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
       caret-color: $custom-main-color !important;
    }
 
    // mat-label normal state style
    .mat-form-field-label {
       color: $custom-label-color !important;
    }
 
    // mat-label focused style
    .mat-form-field.mat-focused .mat-form-field-label {
       color: $custom-main-color !important;
    }
 
    // mat-label error style
    .mat-form-field.mat-form-field-invalid .mat-form-field-label {
       color: $custom-main-color !important;
    }
 }