<div>
    <div class="header">Places</div>
</div>

<app-place-list-controller></app-place-list-controller>

<div class="spinnerContainer">
    <mat-spinner *ngIf="isLoading" [diameter]="50"></mat-spinner>
</div>

<div class="nuggetList">
    <div *ngFor="let n of nuggets">
        <div class="nugget">
            <div class="thumbnail" [routerLink]="['/places/', n.metadata.id]"
                [style.background-image]="getSanitizedUrl(n.content.photos[0].url)">
                <h1>{{ n.metadata.title }}</h1>
                <div class="metadata">
                    <span>{{ n.metadata.location.toString() }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="moreButton" *ngIf="isMore" (click)="loadNextPage()">
        <div class="moreButtonText">See More</div>
    </div>
</div>
