@import '../../app.component.scss';

$metadata-background-color: transparent;

$margin-nugget: 16px;

:host {
    @include flex();
    z-index: 2;
    width: 100%;
}

// Spotlighted item.
.spotlight {
    width: 100%;
    height: 90vh;

    .thumbnail {
        height: 100%;
        background-size: cover;
        background-position: center;

        display: flex;
        justify-content: left;
        align-items: left; 
        flex-direction: column;
        background-color: black;

        &:hover {
            cursor: pointer;
        }

        .text {
            background-color: #000000aa;
            margin-top: auto;

            & > * {
                margin-block-start: 0;
                margin-block-end: 0;
            }

            h1 {
                text-align: left;
                margin-left: 32px;
                margin-right: 32px;

                padding-top: 32px;
                padding-bottom: 8px;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 0 1px 5px black;
                color: #ffffff;
                font-size: 16px;
                text-transform: uppercase;
                font-style: italic;
                border-bottom: solid 1px white;
            }

            h2 {
                text-align: left;
                
                padding-left: 32px;
                padding-right: 32px;
                padding-bottom: 8px;
                padding-top: 8px;

                font-family: 'Merriweather', serif;
                text-shadow: 0 1px 5px black;
                color: white;
            }

            p {
                max-width: 500px;

                padding-left: 32px;
                padding-bottom: 32px;
                padding-right: 32px;

                color: #cccccc;
            }

        }
    } 
}

.intro {
    margin: auto;
    padding: 32px 16px 16px 16px;

    text-align: center;
    max-width: 400px;

    img {
        max-width: 100px;
        height: auto;
    }

    h1 {
        font-family: 'Merriweather', serif;
        text-align: center;
        font-size: 24px;
        margin-block-start: 0;
    }
}

.nuggetList {

    margin: auto;
    margin-bottom: 16px;
    width: 100%;

    // Use flexbox to display rows/columns of nuggets.
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;

    .nugget {
        // Flexbox for consistent sizing.
        display: flex;
        flex-direction: column;
        align-items: stretch;

        // Make the nuggets fill the space.
        flex-grow: 1;

        height: 100%;
        max-width: 700px;
        margin: 0 auto 16px auto;

        .thumbnail {
            display: flex;
            justify-content: center;
            align-items: center; 

            position: relative;

            height: 300px;
            background-size: cover;


            h1 {
                text-align: center;
                padding: 16px;
                font-family: 'Merriweather', serif;
                text-shadow: 0 1px 5px black;
                color: white;
            }

            .metadata {
                background-color: #000000aa;
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 8px;
                margin: 8px;
                color: #cccccc;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .moreButton {
        margin-top: auto;
        margin-bottom: auto;
        .moreButtonText {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 16px;
            padding-right: 16px;
            margin: auto;
            width: fit-content;
            font-size: 14px;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
        
            &:hover {
                cursor: pointer;
            }
        }
    }

    .filler {
        margin: 0;
    }
}