:host {
    flex-grow: 1;
    //width: 100vw;
    z-index: 10000;
    //visibility: hidden;
    // top: 0; left: 0;
    // position: absolute;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: inherit;
    max-width: 960px;
    height: 100%;
    margin: auto;
    app-metadata {
        padding: 16pt;
        margin: auto;
        text-align: center;
    }

    .synopsis {
        padding: 16px;

        width: 100%;

        & > * {
            margin: auto;
            padding: 16px;
            display: block;
            font-size: 16pt;
            font-style: italic;
            text-align: center;
        }
    }

    .header {
        width: 100%;
        color: white;
        text-align: center;
    }

    .mobile {
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        app-gallery-fs {
            flex-grow: 1;
            overflow: auto;
        }
    }

    .fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 20;
    }
}
