<!-- Use a conditional container because the nugget is loaded asynchronously. -->
<div *ngIf="nugget" id="container">

    <!-- Banner image for the nugget. -->
    <app-gallery #gallery [photos]="nugget.content.photos"></app-gallery>

    <!-- All the information about the nugget. -->
    <div id="content">

        <!-- Flexbox for title, date, and activity badges. -->
        <app-metadata [metadata]="nugget.metadata"></app-metadata>

        <!-- The good stuff. -->
        <div [innerHtml]="getContentHtml()"></div>

    </div>
</div>