:host {
    //display: block;
    background: #14ace3;
    padding: 16px;
    z-index: 1000;
}

#logo {
    width: 100pt;
    height: auto;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    list-style: none;

    margin: 0;
    padding-inline-start: 0;

    li {
        color: black;
        text-transform: uppercase;

        // Add spacing between all list items.
        &:not(:last-child) {
            padding-right: 32pt;
        }
    }
}